.panels  {
  width:100%;
  height:100%;

}.panel {
  border:3px solid gray;
  width: 49%;
  height: 47%;
  display:inline-block;
  overflow:none;
  position:relative;
}
.open{
  position:absolute;
  margin:10px;
}
iframe {
  width:100%;
  height:100%;
}
